{
    "workbench.colorTheme": "One Dark Pro",
    "editor.fontFamily": "'Fira Code'",
    "editor.fontWeight": "100",
    "editor.fontSize": 13,
    "editor.fontLigatures": true,
    "editor.autoIndent": false,
    "editor.rulers": [
        120,
        80
    ],
    "terminal.integrated.fontSize": 14,
    "terminal.integrated.fontFamily": "'Fira Code'",
    "terminal.integrated.fontWeight": "100",
    "workbench.iconTheme": "eq-material-theme-icons",

    // python
    "python.linting.pylintPath": "/usr/local/bin/pylint",
    "python.linting.flake8Path": "/usr/local/bin/flake8",
    "python.linting.pep8Path": "/usr/local/bin/pep8",
    "python.linting.flake8Enabled": true,
    "python.linting.pep8Enabled": true,
    "python.linting.flake8Args": ["--max-line-length=120"],
    "python.linting.pep8Args": [
        "--max-line-length=120"
    ],
    "python.pythonPath": "/usr/local/opt/python/bin/python3.6",
    "window.zoomLevel": 0,
}
